body {
    background-image: url(kiew1.jpg);
    background-size: cover;
}
/* .link {
    background-image: url(github.png);
    background-size: cover;
    color: rgba(240, 248, 255, 0);
    width: 170px;
    height: 170px;
}
.div-main3 {
    background-color: black;
    border: white dashed 2px;
    width: 170px;
    height: 200px;
    margin-left: 79.5%;
    margin-top: 25%;
    margin-right: 1px;
    border-radius: 10px;
    position: fixed;
    padding: 10px;
    color: white;
    font-family: Rubik;
} */
.main-nav ul {
    list-style: none;
    background-color: #f4d8d5;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-family: Rubik;
    color:white;
    font-size: 25px;
}
.main-nav a {
    display: block;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Rubik;
}
.main-nav a:hover {
    background-color: #b78681;
    border-radius: 5px;
    color: white;
}
.main-nav a:active {
    background-color:#b78681; ;
    transform: scale(0.97);
}
main {
    background-color: #ABA8B9;
    padding: 10px;
    border-radius: 10px;
    color:white;
    font-family: Rubik;
}
.h-main1 {
    font-size: 30px;
}
footer {
    color: white;
    font-family: Rubik;
    background-color: #202021;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.footer-content {
    text-align: center;
}
.footer-nav {
    margin-top: 10px;
}
.footer-nav ul {
    list-style: none;
}
.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer-nav a:hover {
    text-decoration: underline;
    color: white;
}
.footer-nav a:active {
    color:white;
    transform: scale(0.8);
}
.github  {
    background-color: black;
    border-radius: 10px;
    margin: 10px;
}
.anim  {
    background-image: url(github.png);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
